name: Deploy to GitHub Pages

on:
  push:
    branches: ["main"]
  workflow_dispatch:

permissions:
  contents: write
  pages: write
  id-token: write

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "npm"
          cache-dependency-path: web/package-lock.json

      - name: Install dependencies
        run: npm ci
        working-directory: web

      - name: Build with Next.js
        run: npm run build
        working-directory: web
        env:
          NEXT_PUBLIC_PARTYKIT_HOST: marasty-quiz-party.skopevoj.partykit.dev

      - name: Build manager
        run: npm ci && npm run build
        working-directory: manager

      - name: Generate version tag
        id: version
        run: echo "tag=v$(date +'%Y-%m-%d-%H-%M-%S')" >> $GITHUB_OUTPUT

      - name: Create build artifacts
        run: |
          tar -czf web-build-${{ steps.version.outputs.tag }}.tar.gz -C web out
          tar -czf manager-build-${{ steps.version.outputs.tag }}.tar.gz -C manager .next public

      - name: Create Release
        uses: actions/create-release@v1
        id: create_release
        with:
          tag_name: ${{ steps.version.outputs.tag }}
          release_name: Release ${{ steps.version.outputs.tag }}
          draft: false
          prerelease: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Upload web build
        uses: actions/upload-release-asset@v1
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./web-build-${{ steps.version.outputs.tag }}.tar.gz
          asset_name: web-build-${{ steps.version.outputs.tag }}.tar.gz
          asset_content_type: application/gzip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Upload manager build
        uses: actions/upload-release-asset@v1
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./manager-build-${{ steps.version.outputs.tag }}.tar.gz
          asset_name: manager-build-${{ steps.version.outputs.tag }}.tar.gz
          asset_content_type: application/gzip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup Pages
        uses: actions/configure-pages@v4

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: web/out

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
